@media screen and (max-width: 767px) {
	.search-field {
		border-top-left-radius: 3px !important;
		border-bottom-left-radius: 3px !important;
	} 

	.content__hello--button-to-bottom {
		max-width: 50px;
		padding-right: 100px;
	}

	.content__hello--right {
		max-width: 870px;
		padding: 70px 0px;
	}

	.instructions-left, .instructions-right {
		text-align: center;
		width: 100%;
	}

	.content__instructions--registration-text {
		padding-top: 0px;
	}

	.content__instructions--registration-img {
		padding-top: 50px;
		padding-left: 0px;
	}

	.content__instructions--proposals-text {
		padding-top: 50px;
		padding-left: 0px;
	}

	.content__instructions--proposals-img {
		margin-top: 0px;
		padding-top: 200px;
		padding-left: 0px; 
	}

	.content__instructions--proposals-control-text h3 {
		padding-top: 50px;
	}

	.content__instructions--proposals-control-img {
		margin-top: 0px;
		padding-top: 50px;
		padding-left: 0px !important;
	}

	.content__user-statistic-main {
		padding: 50px 0px;
	}

	.content__user-statistic--right-col {
		width: 1000px;
		text-align: center !important;
	}

	.content__user-statistic--title h1 {
		min-width: 100%;
	}

	.user-statistic {
		padding-top: 50px;
	}

	.content__details--btn {
		margin-right: 0px;
	}
}