@media screen and (max-width: 767px) { 
	.search { 
		    padding-left: 0px !important;
	}

	.search-field { 
		border-top-left-radius: 3px !important;
		border-bottom-left-radius: 3px !important;
	} 

	.content__hello--button-to-bottom { 
		max-width: 50px;
		padding-right: 100px;
	}

	.content__hello--right { 
		max-width: 870px;
		padding: 70px 0px;
	}

	.instructions-left, .instructions-right { 
		text-align: center;
		width: 100%;
	}

	.content__instructions--registration-text { 
		padding-top: 0px;
	}

	.content__instructions--registration-img { 
		padding-top: 50px;
		padding-left: 0px;
	}

	.content__instructions--proposals-text { 
		padding-top: 50px;
		padding-left: 0px;
	}

	.content__instructions--proposals-img { 
		margin-top: 0px;
		padding-top: 200px;
		padding-left: 0px; 
	}

	.content__instructions--proposals-control-text h3 { 
		padding-top: 50px;
	}

	.content__instructions--proposals-control-img { 
		margin-top: 0px;
		padding-top: 50px;
		padding-left: 0px !important;
	}

	.content__user-statistic-main { 
		padding: 50px 0px;
	}

	.content__user-statistic--right-col { 
		text-align: center !important;
	}

	.content__user-statistic--title h1 { 
		min-width: 100%;
	}

	.user-statistic { 
		padding-top: 50px;
	}

	.content__details--btn { 
		margin-right: 0px;
	}

	.content__message--to-top {
		padding-bottom: 0px !important;
	}
}

body { 
	border-top: 1px solid #aaaaab;
}

.container { 
	min-width: 1292.47px !important;
}

.wrapper { 
	min-width: 1292.47px !important;
}

/* HEADER BLOCK */

header { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-top: 1px solid #aaaaab;
}

.header__nav { 
	font-size: 10.5px;
    line-height: 1.5;
  	border-bottom: 1px solid #ddd;
  	background: #fafafa;
  	min-width: 1292.47px !important;
}

.header__nav li { 
    padding: 1px 0px;	
}

.header__nav--left ul { 
	margin-bottom: -1px;
}

.header__nav--left li { 
	border-right: 1px solid #e5e5e5;
}

.header__nav--left-1 { 
	border-bottom: 1px solid #e4728f;
}

.header__nav--left-2 { 
	border-bottom: 1px solid #5b7896;
}

.header__nav--left-3, .header__nav--left-4, .header__nav--left-5 { 
	border-bottom: 1px solid #ed956e;
}

.header__nav--left-5 { 
	border-right: none !important;
}

.header__nav--left-6 { 
	background-color: white;
	border-bottom: 1px solid #fff;
}

.header__nav a { 
	color: black;
}

.header__nav--link-name { 
	font-weight: bold;
}

.header__nav--link-discription { 
	color: #808080;
}

.header__nav--right img  { 
    height: 17px;
    position: absolute;
    top: 16px;
}

.header__nav--right div { 
	display: inline;
	margin-left: 20px;
}

.header__info--logo { 
	padding-left: 55px;
}

.header__info--logo img{
	width: 107.5px;
	height: 71.9px;
}

.header__info--place { 
	color: #575533;
	font-size: 13px;
}

.header__info--phone { 
	font-size: 18px;
    font-weight: bold;
}

.header__info--time { 
	font-size: 13px;
}

.header__info--phoneCode { 
	padding-left: 20px;
	font-size: 14px;
}

.header__info--right-mobile img { 
	height: 30px;
	width: 30px;
}

.header__info--right-collapse { 
	width: 182px;
	top: 105px;
	left: 1070px;
	z-index: 9999;
}

.header__info--right, .header__info--right-collapse { 
	font-size: 14px;
	color: #000;
}

.header__info--right span, .header__info--right-collapse span { 
	color: #000;
	border-bottom: 1px solid #b3b3b3;
}

.header__search { 
	background: #878587;
}

.header__search--left  img{ 
	padding-top: 20px;
	padding-left: 20px;
	height: 120px;
	width: 220px;
}

.header__search--links { 
	color: #fff;
	height: 55px;
}

.header__search--links a { 
	text-decoration-line: none;
    color: white;
    font-family: Helvetica;
    font-size: 12px;
}

.content__search--links-1 { 
	padding-right: 70px;
}

.content__search--links-2 div{ 
	margin-left: 10px;
}

.header__search--search-field { 
	height: 90px;
}

.search { 
	max-height: 54px;
	padding-left: 45px;
}

.search span { 
	background: #fff;
	border: 0px;
	border-radius: 0.25rem 0 0 0.25rem;
	padding-left: 10px;
}

.search input { 
	border: 0px;
}

.search input:focus { 
	box-shadow: none;
}

.search button { 
	min-width: 140px;
	border: 0px;
	background: linear-gradient(to top, #000, #fafafa) !important;
	color: #fff !important;
}

.search button:hover, .search button:active, .search button:focus {
	box-shadow: none !important;
	background: #303030 !important;
}

/* CONTENT BLOCK */

.content__hello { 
	background: url(../images/raccoon_bg_hello.jpg) no-repeat;
	background-color: #000;
    background-size: contain;
    -webkit-background-size: contain;
    -ms-background-size: contain;
    background-position: bottom center;
    color: #fff;
}

.content__message { 
	background-color: #303030;
    background-size: cover;
    -webkit-background-size: cover;
    -ms-background-size: cover;
    background-position: top center;
    color: white;
    padding: 50px 0px 65px 0px;
}

.content__hello--left-img, .content__message--smile { 
    display: inline-block;
    width: 130px;
    height: 130px;
    background: #fafafa;
    border-radius: 65px;
    vertical-align: top;
    margin-left: 40px;
}

.content__hello--left-img { 
    margin-top: 135px;	
}

.content__hello--left-img img, .content__message--smile img { 
    padding: 20px 0px 0px 26px;
    height: 105px
}

.content__hello--right { 
	padding-top: 155px;
}

.content__hello--right h1 { 
	font-weight: bold;
	max-width: 825px;
	font-size: 36px;
}

.content__hello--right p { 
	font-size: 20px;
	line-height: 28px;
	padding-top: 30px;
	max-width: 870px;
}

.link-to-bottom, .link-to-bottom:hover { 
	color: white;
	text-decoration: none;
	width: 21px;
}

.content__hello--button-to-bottom, .content__message--to-top { 
	padding-left: 130px;
	padding-bottom: 70px;
}

.content__message--to-bottom {
	margin-left: 35px;
}

.down-mouse-img { 
    height: 55px;
    width: 21px;
    padding-bottom: 15px;
}

.content__hello--button-to-bottom p { 
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    font-size: 14px;
    line-height: 0.8;
    width: 30px;
    height: 21px;
    color: #fff;
}

.up-mouse-img {
	padding-top: 15px;
}

.content__message--to-top p {
	-moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    font-size: 14px;
    line-height: 0.8;
    width: 30px;
    height: 21px;
    color: #fff;
}

.arrow-down-img { 
    padding-top: 15px;
}

.arrow-up-img { 
    padding-bottom: 15px;
    padding-left: 3px;
}

.arrow-down-img img{
    width: 16px;
}

.content__message--form { 
    padding-left: 5px;
}

.content__message--header h1 { 
	font-weight: bold;
	width: 500px;
	padding-top: 35px;
	font-size: 36px;
	line-height: 1.5;
}

.form-field-help { 
	width: 665px;
	background: #fff;
	opacity: 0.1;
	position: relative;
	z-index: 1;
}

.form-field { 
	width: 665px;
	background: none;
	color: white;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	border: 1px solid #fff;
	position: relative;
	z-index: 100;
	padding-left: 20px;
	font-size: 20px;
}

.form-field:focus { 
	outline: none;
}

.content__message--form-select-help, .content__message--form-e-mail-help { 
	height: 65px;
	margin-top: -65px;
}

.content__message--form-select, .content__message--form-e-mail { 
	height: 65px;
}

.content__message--form-select { 
	margin-top: 30px;
	font-size: 20px;
}

.content__message--form-e-mail { 
	margin-top: 10px;
}

.content__message--form-message-help { 
	height: 185px;
	margin-top: -191px;
}

.content__message--form-message { 
	height: 185px;
	margin-top: 10px;
	padding-top: 15px;
}

.form-field::-webkit-input-placeholder { 
	color: #fff;
	font-size: 20px;
	vertical-align: top;
}

.form-field:-moz-placeholder { 
	color: #fff;
	font-size: 20px;
}

.content__message--form-button { 
	height: 65px;
	width: 270px;
	margin-top: 45px;
	font-size: 24.61px;
	border-radius: 0px;
	border: 3px solid #fff;
	background: none;
	color: #fff;
}

.content__instructions { 
	background: #fefefe;
    padding: 50px 0px 55px 0px;
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 20px;
}

.content__instructions .col-md-5 { 
	padding-right: 0px;
}

.content__instructions .col-md-6 { 
	padding-left: 40px;
}

.content__instructions h3 { 
    font-size: 36px;
    font-weight: bold;
    line-height: 50px;
}

.content__instructions h3 span { 
    text-decoration: underline;
}

.content__instructions--registration-img { 
	padding-left: 80px;
}

.content__instructions--registration-img img{
	height: 450px;
}

.content__instructions--registration-text { 
	padding-top: 130px;
}

.content__instructions--registration-text h3 { 
	min-width: 520px;
}

.content__instructions--registration-text p { 
	padding-top: 10px;
	min-width: 640px;
}

.content__instructions--proposals-text { 
	padding-left: 90px;
	padding-top: 110px;
}

.content__instructions--proposals-text h3 { 
	min-width: 492px;
	padding-bottom: 20px;
}

.content__instructions--proposals-img img { 
	margin-top: -100px; 
	padding-left: 100px;
	height: 450px;
}

.content__instructions--proposals-control-img { 
	margin-top: -10px;
	padding-left: 60px !important;
}

.content__instructions--proposals-control-img img {
	height: 450px;
}

.content__instructions--proposals-control-text h3 { 
	padding-top: 160px;
	min-width: 600px;
}

.content__instructions--proposals-control-text p { 
	padding-top: 10px;
}

.content__instructions--button { 
	padding-top: 50px;
}

.content__instructions--button a, .content__instructions--button a:hover, .content__instructions--button a:active, .content__instructions--button a:focus { 
	height: 65px;
    width: 385px;
    border: 3px solid #000;
    border-radius: 0px;
    padding: 11px 0px;
    font-size: 24.61px;
    color: #000;
    box-shadow: none !important;
    font-weight: bold;
}

.content__user-statistic { 
	background: #888687;
}

.content__user-statistic--cherry { 
	text-align: right;
}

.content__user-statistic--cherry img { 
    margin-top: -230px;
    padding-right: 80px;
    width: 340px;
}

.content__user-statistic-main { 
    padding: 60px 0px 100px 0px;
    text-align: right;
    color: white;
}

.content__user-statistic--bag-img { 
    width: 130px;
    height: 130px;
    background: #fafafa;
    border-radius: 65px;
    display: inline-block;
    text-align: center;
    margin-right: 75px;
}

.content__user-statistic--bag-img img { 
	padding-top: 20px;
	padding-left: 5px;
	width: 85px;
}

.content__user-statistic--right-col { 
	text-align: left;
}

.content__user-statistic--right-col h1 { 
	font-size: 36px;
}

.content__user-statistic--title h1 { 
    line-height: 45px;
    font-weight: bold;
    width: 785px;
    margin: 0px;
}

.user-statistic { 
    font-size: 20px;
    margin: 0px;
    padding-top: 110px;
}

.user-statistic li { 
    list-style: none;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.registered-users { 
	width: 200px;
}

.active-users { 
	width: 295px;
	padding-left: 155px;
}

.unique-users { 
	width: 310px;
	padding-left: 175px;
}

.content__details-help { 
	background: #bf0000;
}

.content__details { 
	padding: 80px 0px 85px 0px;
}

.content__details { 
	background: #303030c4;
}

.content__details--left { 
	text-align: right
}

.content__details--lamp-img { 
    width: 128px;
    height: 128px;
    background: #fafafa;
    border-radius: 64px;
    text-align: center;
    display: inline-block;
    margin-right: 75px;
}

.content__details--lamp-img img { 
    padding-top: 20px;
    width: 85px;
}

.content__details--have-you-questions h1 { 
    margin: 0px;
    font-family: Ubuntu;
    font-weight: bold;
    color: white;
    padding-top: 40px;
    font-size: 36px;
}

.content__details--btn { 
    padding-top: 30px;
    margin-right: 50px;
    text-align: right;
}

.content__details--btn a, .content__details--btn a:hover, .content__details--btn a:active, .content__details--btn a:focus { 
    height: 65px;
    width: 290px;
    background: none;
    border: 3px solid #fff;
    border-radius: 0px !important;
    padding: 11px 0px;
    font-size: 24.61px;
    color: #fff !important;
    box-shadow: none !important;
    font-weight: bold;
}

/* FOOTER BLOCK */

footer { 
	background: #222224;
}

.footer__navbar { 
    font-family: Helvetica;
    color: #595656;
    font-size: 14px;
}


.footer__navbar ul { 
	margin: 0px;
	padding: 0px;
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
	line-height: 26px;
}

.footer__navbar span { 
	color: white;
}

.footer__navbar a { 
	text-decoration: none;
	color: #595656;
}

ul.footer__navbar--info { 
	padding: 30px 0px 0px 325px;
}

ul.footer__navbar--partners { 
	padding: 30px 0px 20px 50px;
}

ul.footer__navbar--social-btn { 
	padding: 45px 0px 0px 105px;
}

.footer__navbar--social-btn li { 
	padding: 0px;
}

.footer__navbar--social-btn img { 
	height: 30px;
	width: 30px;
	border-radius: 15px;
	border: 1px solid #454242;
}