@font-face {
	font-family: Ubuntu;
	src: url(../fonts/ubuntu-font-family-0.83/Ubuntu-L.ttf);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/ubuntu-font-family-0.83/Ubuntu-R.ttf);
	font-style: normal;
	font-weight: bold;
}

html,body {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}
